/* @font-face */
@font-face {
    font-family: Raleway;
    src: url(../assets/fonts/Raleway-Medium.ttf);
  }
  @font-face {
    font-family: Karla;
    src: url(../assets/fonts/Karla-VariableFont_wght.ttf);
  }
  /* classes */
  .Raleway{
      
    font-family: Raleway !important;
}

  .Karla{
    
    font-family:Karla !important;

}

  .fsize-xxxlarge{ font-size: xxx-large !important; }

  .grey-ish{ color:#BFC7DC !important; }
  
  .inline{ display: inline !important; }
  
  .block{display: block !important;}

  .absolute{ position: absolute !important; }
  
  .top-4px{ top: 4px !important;  }

  .center{text-align: center;}

  .divider{ border-color: #BFC7DC !important; }

  .bold{ font-weight: bold !important; }

  .mr-20{ margin-right: 20% !important; }
  
  .mr-25{ margin-right: 25% !important; }
  .mr-26{ margin-right: 26% !important; }
  
