/* @font-face */
@font-face {
    font-family: Raleway;
    src: url(../assets/fonts/Raleway-Medium.ttf);
  }
  @font-face {
    font-family: Karla;
    src: url(../assets/fonts/Karla-VariableFont_wght.ttf);
  }
  /* classes */
  .Raleway{
      
    font-family: Raleway !important;
}

  .Karla{
    
    font-family:Karla !important;

}

  .f-weight-200{font-weight: 200 !important;}

  .fsize-xxxlarge{ font-size: xxx-large !important; }

  .grey-ish{ color:#BFC7DC !important; }
  
  .inline{ display: inline !important; }

  
  .absolute{ position: absolute !important; }
  
  .top-4px{ top: 4px !important;  }

  .divider{border-color: #BFC7DC;}